<?xml version="1.0"?>
<launch>
								
					<!-- Nodes -->
		
	
	<node pkg="navigation" type="IPG_Bridge" name="IPG_Bridge" output="screen" />
	<node pkg="navigation" type="purepursuit.py" name="purepursuit_controller" output="screen" />

	<rosparam command="load" file="$(find navigation)/parameters.yaml" />

	

</launch>

