<?xml version="1.0"?>
<launch>
								
					<!-- Nodes -->
		
	<node pkg="pure_pursuit" type="navigation_handler" name="navigation_handler" output="screen" />
	<node pkg="pure_pursuit" type="path_pub" name="path_pub"  />
	<node pkg="pure_pursuit" type="plotter.py" name="plotter"   />
	<node pkg="pure_pursuit" type="pure_pursuit_controller" name="pure_pursuit_controller" output="screen" />
	<node pkg="pure_pursuit" type="model2" name="model2" output="screen"  />
	
	<rosparam command="load" file="$(find pure_pursuit)/parameters.yaml" />
	

</launch>



